<header>
    <div class="content">
        <mat-toolbar color="primary">
            <mat-toolbar-row>
                <a mat-button routerlink="" aria-label="Welcome Tuto-App" aria-disabled="false" href="">
                    <span>Tuto-App</span>
                </a>
                <a mat-button routerlink="users" aria-label="Users Tuto-App" aria-disabled="false" href="users">
                    <span class="mat-button-wrapper">
                        <img src="../../../../assets/Home-Icon.png" alt="iconUsers">
                    </span>
                    <span>Users</span>
                </a>
                <a mat-button routerlink="posts" aria-label="posts Tuto-App" aria-disabled="false" href="posts">
                    <span>Posts</span>
                </a>
                <a mat-button routerlink="page2" aria-label="page2 Tuto-App" aria-disabled="false" href="page2">
                    <span>Page2</span>
                </a>

                <span class="example-spacer"></span>

                <mat-icon class="example-icon" aria-hidden="false" aria-label="Top toolbar">
                    verified_user
                </mat-icon>
            </mat-toolbar-row>
        </mat-toolbar>
    </div>
</header>